[submodule "libs/libretro-common"]
	path = libs/libretro-common
	url = https://github.com/madcock/libretro-common
	branch = master
[submodule "cores"]
	path = cores
	url = https://github.com/Data-Frog-Central/multicore_cores
